$color--main: dodgerblue
$color--hilite: lighten($color--main, 20%)
$color--lolite: darken($color--main, 20%)
$color--logo: #eee
$color--mineshaft: #333
$color--graphite: #444
$color--silver-chalice: #aaa
$color--warning: lighten(tomato, 10%)
$color--confirm: lighten(forestgreen, 30%)
