.new-event-form *
  font-size: 1.125rem

.new-event-container
  align-items: center
  display: flex
  flex-direction: column
  margin-top: 20px

.new-event-form
  background: rgba($color--silver-chalice, 0.2)
  border-radius: 5px
  color: $color--mineshaft
  min-width: 800px
  margin: 25px
  padding: 0 0 15px

.new-event-title
  background: rgba($color--main, 0.8)
  border-radius: 5px 5px 0 0
  box-shadow: 0 0 10px $color--lolite inset
  color: white
  margin-top: -15px
  padding: 20px

.new-event-fields *
  padding: 10px

.new-location
  height: 150px
  padding: 8px
  transition: all .3s ease .15s

.hidden
  opacity: 0
  clear: both
  height: 0
  padding: 0 8px
  overflow: hidden
  transition: all .3s ease .15s
