.event-container
  display: flex
  flex-direction: column
  justify-content: center
  margin-top: 25px

.user
  width: 15%
  padding: 10px

.table
  width: 80%

td, th
  outline: solid black 1px
  padding: 10px
  width: 170px
  height: 40px

.new-timeslot
  background: $color--main
  box-shadow: 0 0 8px $color--hilite inset
  color: white
  float: left
  text-shadow: 1px 1px 3px $color--lolite
  @include hover-change($color--main)

.not_filled_in
  background-color: white

.available
  background-color: green

.tentative
  background-color: yellow

.not_available
  background-color: red

.preferred
  background-color: blue
