.event-container
  display: flex
  flex-direction: column
  justify-content: center
  margin-top: 25px

.user
  width: 15%
  padding: 10px

.table
  width: 80%

td, th
  outline: solid black 1px
  padding: 10px
  width: 170px
  height: 40px

.white
  background-color: white

.green
  background-color: green

.yellow
  background-color: yellow

.red
  background-color: red

.blue
  background-color: blue
