.landing-page-div
  background: linear-gradient(to bottom left, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.3) ), url("/images/planner_and_tea.jpg")
  background-position: center
  background-repeat: no-repeat
  background-size: cover
  flex-grow: 10000
