nav
  align-content: center
  background: $color--main
  display: flex
  flex-direction: row
  justify-content: space-between
  padding: 15px

.logo
  font-size: 2rem
  font-family: $font-family--logo
  padding: 10px
  text-shadow: 3px 3px $color--mineshaft
  a
    color: $color--logo

.greeting-bar
  align-items: center
  display: flex
  flex-direction: column
  justify-content: center

.auth-bar, .greeting
  align-items: center
  display: flex

.greeting
  color: white
  text-shadow: 1px 1px 3px $color--lolite
  &:hover
  cursor: pointer

.greeting-msg
  margin-left: 8px
  margin-right: 15px

.signout-form
  position: absolute
  top: 14%
  opacity: 0
  visibility: hidden
  transition: all 1.5s ease;

.show-signout
  opacity: 1
  visibility: visible

.signout
  background: $color--main
  border: none;
  border-radius: 0 0 3px 3px;
  box-shadow: 0 1px 1px darken($color--lolite, 15%)
  color: white
  padding: 8px 35px;
  text-shadow: 1px 1px 3px $color--lolite
  @include hover-change($color--main)

.signout-arrow
  color: darken($color--lolite, 10%)
  margin: 0 15px 0 0
  text-shadow: 0 1px $color--hilite

.fa-sort-down
  margin-top: -5px

.fa-sort-up
  margin-top: 2px
